Schemas/SoftwareUpdateInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pathcopycopy.codeplex.com/xsd/SoftwareUpdate/V1" elementFormDefault="qualified" targetNamespace="http://pathcopycopy.codeplex.com/xsd/SoftwareUpdate/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SoftwareUpdateInfo" nillable="true" type="tns:SoftwareUpdateInfo" />
  <xs:complexType name="SoftwareUpdateInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Url" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReleaseNotes" type="tns:ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>